<nb-card size="tiny">
    <nb-card-body>
        <label for="selector">
            Query Past Searches
        </label>
        <br>
      <nb-select placeholder="Past Locations" [(selected)]="selectedLocation" #selector>
        <nb-option *ngFor="let location of pastLocations"> Lat: {{location.latitude}} | Long: {{location.longitude}}</nb-option>
      </nb-select>
    </nb-card-body>
  </nb-card>
<nb-card>    
    <nb-card-body class="example-items-col">
      <label for="latitude">Latitude</label>
      <input type="number" nbInput fullWidth status="primary" [(ngModel)]="latitude">
      <input type="number" nbInput fullWidth status="info" [(ngModel)]="longitude">
      <button status="success" (click)="onWeatherClick()">Go!</button>
    </nb-card-body>
    <nb-card-body>
        <div *ngIf="weatherData">
            Temperature: {{weatherData["current"]["temp"] - 273.15}}°C
            Humidity: {{weatherData["current"]["humidity"]}}
            <h1>{{ weatherData["current"]["clouds"] }}</h1>
        </div>
    </nb-card-body>
</nb-card>
  
  